
button {
    display: flex;
    align-content: center;

}
.row {
    display: flex;
    flex-direction: row;
    align-items: center
}
body {
    width: 100vw;
    margin: auto;
}
.card {
    width: 100px;
}